body {
  font-family: sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: crosshair;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h6 {
  font-size: 18px;
}

.description {
  font-size: 14px;
}

.duck-name {
  font-size: 20px;
  font-weight: bold;
}

.empty-cart-duck {
  height: 300px;
  width: 300px;
}

.landing-page-background {
  background-color: skyblue;
  color: midnightblue;
}
.center_div {
  margin: 0 auto;
}

.login-form {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.landing-page-img {
  display: block;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.takes-away-bullet-points {
  list-style-type: none;
}

/* NavBar */
#welcome {
  position: absolute;
  right: 10px;
  font-size: 18px;
}

.welcome-to-bathtub {
  font-family: Verdana, sans-serif;
}

.welcome-to-bathtub-blurb {
  font-family: Verdana, sans-serif;
}

/* SingleDuck */
.picture {
  height: 80px;
  width: 80px;
}

/* On Duck List and Cart*/
.itemSize {
  height: 300px;
  width: 400px;
}


/* Welcome  */
#welcomePage{
  background-color: skyblue;
  /* display: inline; */
  position: relative;
  top: 200px;
  left: 400px;
  height: 300px;
  width: 600px;
  padding-left: 50px;
}

#daffy{
  position: relative;
  left: 25%;
  height: 200px;
  width: 200px;
}

/* Button */
#removeBtn{
  width: 126px;
  height: 30px;
}
